@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
html,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
}

#visualization {
  position: relative;
}

.menu {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  bottom: -50px;
  right: 0;
  margin: 10px;
  z-index: 9999;
}

.range {
  margin: -12px 12px 0 0;
  background: #333;
}

.buttons-menu {
  background-color: #555;
  color: #fff;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

.buttons-menu:hover {
  opacity: 0.9;
}

.form-button {
  background-color: #00a98f;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  border: 0px;
  font-size: 11pt;
  width: 130px;
  border-radius: 5px;
  margin-top: 18px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
  box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
}
.form-button > div {
  transform: scaleX(1.3);
}

ul {
  list-style: none; /* Quitamos los marcadores */
  padding: 0; /* Quitamos el padding por defecto de la lista */
  margin-left: 10px; /* Separamos la lista de la izquierda */
}

li::before {
  content: "\25A0";
  display: inline-block;
  padding-right: 15px;
  font-size: 23px;
  line-height: 20px;
  vertical-align: 0px;
  width: 15px;
  color: #e3e3e3;
}

.color-marinelight::before {
  color: #91feb5;
}

.color-yellowlight::before {
  color: #fff48c;
}

td {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
