<html lang="es">
   
<head>
    <title>Timeline</title>
    <!-- note: moment.js must be loaded before vis.js, else vis.js uses its embedded version of moment.js -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/full-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="form" id="timeline-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <strong><h3 style="color: #006755;" >{{ title }}</h3></strong>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-lg-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" type="text" v-model="nombre" class="form-control">
                </div>
                <div class="col-lg-2">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input id="fecha" type="date" v-model="fecha" class="form-control">
                </div>
                <div class="col-lg-2">
                    <label for="desde" class="form-label">Desde</label>
                    <input id="desde" value="13:30" v-model="desde" type="time" class="form-control">
                </div>
                <div class="col-lg-2">
                    <label for="hasta" class="form-label">Hasta</label>
                    <input id="hasta" value="14:30" v-model="hasta" type="time" class="form-control">
                </div>
                <div class="col-lg-2">
                    <button id="guardar" class="form-button mt-4" @click="agregarValor"><div>Guardar</div></button>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col">
                    <h5>
                        Agenda de Reservas
                    </h5>
                </div>
                <div class="col">
                    <ul>
                        <li class="d-inline color-yellowhite" >Disponible</li>
                        <li class="d-inline color-yellowlight">Reservado</li>
                        <li class="d-inline color-marinelight">Mi Reserva Actual</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="timeline" class="mt-4">
                        <div class="mt-4" style="width: 35px; float: left;">
                            <span class="material-icons">
                                arrow_back_ios
                            </span>
                        </div>
                        <div id="visualization" style="width: 90%; float: left;"></div>
                        <div class="mt-4" style="width: 35px; float: left;">
                            <span class="material-icons">
                                arrow_forward_ios
                            </span>
                        </div>
                        <input style="display:none;" v-model="rangeValue" id="sliderZoom" type="range" class="range" name="a" min="-1" max="1" step="0.1" @change="setValues" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-borderless" id="reservas">
                        <thead class="mb-4">
                            <tr>
                                <th style="width: 70%;" width="70">Nombre</th>
                                <th style="width: 20%;">Horario</th>
                                <th style="width: 10%;">Acción</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr v-for="(value, index) in values">
                                <td><strong>{{ value.content }}</strong></td>
                                <td style=" color: #757575;"> de {{ obtenerHora(value.start) }} a {{ obtenerHora(value.end) }}</td>
                                <td>
                                    <button class="btn btn-light" @click="deleteValue(value.id)">
                                        <span style="color: #cccccc;" class="material-icons">
                                            delete
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- My Js -->
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/vis.js"></script>
    <script src="js/script.js"></script>
</body>

</html>